header h1 {
    color: red;
    text-align: center;
    font-family: 'Comics New Roman';
}

header {
    border: thick double;
    color: black;
    margin: 1%;
}



body {
    --bs-body-line-height: 1.4;
    --bs-body-bg: var(--bs-gray-100);
}

.table {
    --bs-table-color: var(--bs-gray-600);
    --bs-table-bg: var(--bs-gray-100);
    --bs-table-border-color: transparent;
}

button {
    padding: 2%;
}